button {
    font-family: Roboto;
    font-size: 15px;
    background-color: #0092E0;
    color: white;
    padding: 14px;
    padding-right: 20px;
    padding-left: 20px; 
    border-radius: 0.375rem;
    border: none;
    letter-spacing: 0.5px;
    cursor: pointer;

}
button:hover {
    background-color:#0072F5 ;
    transition-duration: 0.3s;
}
button:active {
    font-size: 13px;
}

