* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
html {
    background-color: gray;
}
.themeComponent {
    display: flex;
    flex-direction: column;
    background-color: #F1DEC9;
    width: 340px;
    height: 417px;
    border-radius: 20px;
    cursor: pointer;

}
.themeH1 {
    padding-left: 30px;
    padding-top: 40px;
    font-size: 44px;
}
.divThemeTexts {
    display: flex;
    flex-direction: row;
    justify-content :space-between;
    padding-left: 30px;
    padding-right:80px; 
    margin-top: 25px;
}
p{
    color: #717171;
    line-height:260%;
}