* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
.asideBarComponent {
    height: 100vh;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    align-items: center;
    background-color: #815cbd;
}
.dropdown-btn {
    display: flex;
    width: 250px;
    margin-top: 15px;
    margin-left: 23.5px;
    margin-bottom: 15px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: none;
    background: none;
    text-align: center;
    cursor: pointer;
    outline: none;
} 
.dropdown-btn:hover {
    background-color: #7254a4;
}
.dropdown-container {
    padding-left: 60px;
    display: none;
    background-color: none;
  }
.titleAside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
}
.listComponent {
    justify-content: space-around;
    width: 300px;
   
}
.profileAside {
    padding-top: 50px;
    width: 300px;
    height: 85px;
    padding: 0;

}
.profileDropDown {
    background-color: #815cbd;
    width: 300px;
    height: 60px;
}
ul {
    padding-top: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: column;

}
li {
    padding-left: 50px;
    display: flex;
    align-items: center;
    height: 50px;
}
li:hover {
    background-color: aqua;
    border: solid white;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
   color:  #262626;
}
hr{
    width: 300px;
}